@font-face {
  font-family: Press;
  font-display: swap;
  src: url("../fonts/Press.woff2") format("woff2"), url("../fonts/Press.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

ins {
  text-decoration: none;
}

bdi {
  text-decoration: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ff63d8;
  line-height: 1;
  font-family: "Press";
  font-size: 0.875rem;
  caret-color: transparent;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Press";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background-color: #000;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 87.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.b {
  font-size: 1.25rem;
  border-radius: 1.875rem;
  border: 3px solid #ff63d8;
  padding: 1.25rem;
  text-transform: uppercase;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #000;
  -webkit-transition: top 1s ease 0s;
  -o-transition: top 1s ease 0s;
  transition: top 1s ease 0s;
}

.header._header-scroll {
  top: -100%;
}

.header._header-show {
  z-index: 500;
  top: 0;
  border-bottom: 2px solid #ff63d8;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.header__menu img {
  height: 3.75rem;
  width: 27.5rem;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  padding-right: 3.75rem;
}

.main {
  gap: 1.25rem;
  pointer-events: none;
  margin-bottom: 3.125rem;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  position: relative;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.main__image {
  width: 23.125rem;
  height: 17.5rem;
  margin-bottom: 1.25rem;
  pointer-events: none;
}

.main__image img {
  width: 100%;
}

.main__title-wrapper {
  position: relative;
  max-width: 43.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__title-money {
  position: absolute;
  width: 35%;
  top: -1.875rem;
}

.main__title-money_left {
  right: 100%;
}

.main__title-money_right {
  left: 100%;
}

.main__title-label {
  font-size: 1.25rem;
  margin-bottom: 1.875rem;
}

.main__title-text {
  display: block;
  text-align: center;
}

@supports (font-size: clamp( 1.875rem , 0.2533783784rem  +  8.1081081081vw , 7.5rem )) {
  .main__title-text {
    font-size: clamp( 1.875rem , 0.2533783784rem  +  8.1081081081vw , 7.5rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 0.2533783784rem  +  8.1081081081vw , 7.5rem )) {
  .main__title-text {
    font-size: calc(1.875rem + 5.625 * (100vw - 20rem) / 69.375);
  }
}

.filosofy {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filosofy__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.filosofy__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6.25rem;
}

.filosofy__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  border: 3px solid #21ef80;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding: 1.5625rem 0.9375rem;
  border-radius: 1.25rem;
  background-color: #000;
  position: relative;
  color: #fff;
}

.filosofy__title {
  text-align: center;
  font-size: 1.5625rem;
  margin-bottom: 1.25rem;
}

.filosofy__text {
  font-size: 1.25rem;
  line-height: 1.2;
  max-height: 25rem;
  overflow: auto;
}

.filosofy__text::-webkit-scrollbar {
  width: 0.5rem;
}

.filosofy__text::-webkit-scrollbar-track {
  background-color: #1E1E1E;
}

.filosofy__text::-webkit-scrollbar-thumb {
  background-color: #ff63d8;
}

.filosofy__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.filosofy__images {
  position: relative;
}

.filosofy__image-tablo {
  width: 100%;
  max-width: 37.5rem;
}

.filosofy__image-start {
  position: absolute;
  top: 28%;
  left: 37%;
  cursor: pointer;
}

.filosofy__arrow {
  width: 50%;
  position: absolute;
  left: -6.25rem;
  bottom: 6.25rem;
}

.menu {
  text-transform: uppercase;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  margin-top: 6.25rem;
}

.menu__container {
  width: 100%;
}

.menu__title {
  margin-bottom: 1.25rem;
}

.menu__suriken {
  border-radius: 1.25rem;
  border: 3px solid #ff63d8;
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}

.no-webp .menu__suriken::before, .no-webp .menu__suriken::after {
  background: url("../img/str3/molniy.png") center/100% no-repeat; }

.menu__suriken::before,
.menu__suriken::after {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5.1875rem;
          flex: 0 0 5.1875rem;
  height: 6.6875rem;
  content: "";
  -webkit-animation: molniy 2s ease-in-out infinite;
          animation: molniy 2s ease-in-out infinite;
}

@-webkit-keyframes molniy {
  0% {
    -webkit-transform: translate(0px, 0px) scale(0.5);
            transform: translate(0px, 0px) scale(0.5);
  }

  50% {
    -webkit-transform: translate(0px, -20px) scale(0.5);
            transform: translate(0px, -20px) scale(0.5);
  }

  100% {
    -webkit-transform: translate(0px, 0px) scale(0.5);
            transform: translate(0px, 0px) scale(0.5);
  }
}

@keyframes molniy {
  0% {
    -webkit-transform: translate(0px, 0px) scale(0.5);
            transform: translate(0px, 0px) scale(0.5);
  }

  50% {
    -webkit-transform: translate(0px, -20px) scale(0.5);
            transform: translate(0px, -20px) scale(0.5);
  }

  100% {
    -webkit-transform: translate(0px, 0px) scale(0.5);
            transform: translate(0px, 0px) scale(0.5);
  }
}

.menu__list {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 1fr;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 6.25rem;
     -moz-column-gap: 6.25rem;
          column-gap: 6.25rem;
  row-gap: 3.125rem;
}

.menu__item {
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.5;
}

.menu__item span {
  display: inline-block;
}

.menu__item span {
  color: #21ef80;
}

.menu__item_nft {
  color: #ffd707;
}

.case {
  position: relative;
  margin-top: 6.25rem;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.case__container {
  position: relative;
  width: 100%;
}

.case__title {
  text-align: center;
  max-width: 21.25rem;
  margin: auto;
  margin-bottom: 1.875rem;
}

.case__slider-body {
  max-width: 75rem;
  margin: auto;
}

.case__arrows {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 50%;
  margin: auto;
  z-index: 10;
  pointer-events: none;
}

.no-webp .case__arrow {
  background: url("../img/str4/arrow.png") center/cover no-repeat; }

.case__arrow {
  pointer-events: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.5rem;
          flex: 0 0 2.5rem;
  height: 2.5rem;
}

.case__arrow_next {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  margin-right: 1.875rem;
}

.case__slide-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  margin: auto;
  cursor: pointer;
}

.case__image {
  height: 100%;
  border-radius: 1.875rem;
  margin: auto;
  overflow: hidden;
}

.case__image img {
  width: 100%;
  height: 100%;
}

.case__slide-title {
  text-align: center;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.order {
  position: relative;
  height: 100vh;
  margin-top: 6.25rem;
}

.order__container {
  position: relative;
  height: 100vh;
}

.order__content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-bottom: 3.125rem;
}

.order__title-label {
  font-size: 1.5625rem;
  margin-bottom: 1.875rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

@supports (font-size: clamp( 1.875rem , 1.1542792793rem  +  3.6036036036vw , 4.375rem )) {
  .order__title-text {
    font-size: clamp( 1.875rem , 1.1542792793rem  +  3.6036036036vw , 4.375rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.1542792793rem  +  3.6036036036vw , 4.375rem )) {
  .order__title-text {
    font-size: calc(1.875rem + 2.5 * (100vw - 20rem) / 69.375);
  }
}

.order__button {
  width: 5.6875rem;
  height: 6rem;
  margin-bottom: 1.875rem;
}

.order__grass {
  position: absolute;
  left: 0;
  bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.order__grass > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.no-webp .order__grass > div::before, .no-webp .order__grass > div::after {
  background: url("../img/str5/grass.png") center/100% no-repeat; }

.order__grass > div::before,
.order__grass > div::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12.5rem;
          flex: 0 0 12.5rem;
  width: 200px;
  height: 3.6875rem;
}

.order__magazine {
  position: relative;
}

.order__magazine img {
  cursor: pointer;
  width: 65%;
}

.no-webp .order__magazine::after {
  background: url("../img/str5/fire.png") center/100% no-repeat; }

.order__magazine::after {
  left: 90%;
  position: absolute;
  width: 2.5625rem;
  height: 4.5625rem;
  bottom: 0;
  content: "";
}

.order__weapons {
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  bottom: 12.5rem;
  position: absolute;
  -webkit-animation: order 2s ease-in-out infinite;
          animation: order 2s ease-in-out infinite;
}

.order__weapons::before,
.order__weapons::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5.3125rem;
          flex: 0 0 5.3125rem;
  height: 5.3125rem;
}

.no-webp .order__weapons::before {
  background: url("../img/str5/weapon1.png") center/100% no-repeat; }

.no-webp .order__weapons::after {
  background: url("../img/str5/weapon2.png") center/100% no-repeat; }

.order__boxes {
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  bottom: 11.25rem;
  position: absolute;
}

.order__boxes::before,
.order__boxes::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5.3125rem;
          flex: 0 0 5.3125rem;
  height: 7.5rem;
}

.no-webp .order__boxes::before {
  background: url("../img/str5/box1.png") center/100% no-repeat; }

.no-webp .order__boxes::after {
  background: url("../img/str5/box2.png") center/100% no-repeat; }

.order__boxes2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  bottom: 21.875rem;
  position: absolute;
}

.order__boxes2::before,
.order__boxes2::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5.3125rem;
          flex: 0 0 5.3125rem;
  height: 10rem;
}

.no-webp .order__boxes2::before {
  background: url("../img/str5/box3.png") center/100% no-repeat; }

.no-webp .order__boxes2::after {
  background: url("../img/str5/box4.png") center/100% no-repeat; }

.order__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65%;
  bottom: 31.25rem;
  position: absolute;
  -webkit-animation: order 2s ease-in-out infinite;
          animation: order 2s ease-in-out infinite;
}

.no-webp .order__stars::before, .no-webp .order__stars::after {
  background: url("../img/str5/star.png") center/100% no-repeat; }

.order__stars::before,
.order__stars::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.5rem;
          flex: 0 0 2.5rem;
  height: 2.5rem;
}

@-webkit-keyframes order {
  0% {
    -webkit-transform: translate(0px, 30px);
            transform: translate(0px, 30px);
  }

  50% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  100% {
    -webkit-transform: translate(0px, 30px);
            transform: translate(0px, 30px);
  }
}

@keyframes order {
  0% {
    -webkit-transform: translate(0px, 30px);
            transform: translate(0px, 30px);
  }

  50% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  100% {
    -webkit-transform: translate(0px, 30px);
            transform: translate(0px, 30px);
  }
}

.order__background {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.order__border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3.125rem;
  width: 100%;
}

.services {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.services__border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3.125rem;
  width: 100%;
}

.services__container {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 37.5rem;
  margin: auto;
}

.services__item {
  height: 100%;
  max-width: 18.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  line-height: 1.3;
  border-radius: 1.875rem;
  border: 3px solid #ff63d8;
  padding: 1.25rem;
  text-transform: uppercase;
  text-align: center;
  background-color: #000;
}

.services__item:nth-child(1),
.services__item:nth-child(4),
.services__item:nth-child(5),
.services__item:nth-child(8) {
  border: 3px solid #21ef80;
  color: #21ef80;
}

.services__magazine {
  position: absolute;
  left: 0;
  bottom: 3.125rem;
  width: 20%;
}

.services__grass {
  position: absolute;
  bottom: 3.125rem;
  right: -3.125rem;
  height: 4.375rem;
}

.services__fire {
  position: absolute;
  bottom: 3.125rem;
  right: 15.625rem;
}

.about {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6.25rem;
  position: relative;
}

.about__container {
  width: 100%;
  position: relative;
}

.about__title {
  font-size: 1rem;
  max-width: 18.75rem;
  text-align: center;
  padding: 1.875rem;
  -webkit-transform: translate(-50px, 0px);
      -ms-transform: translate(-50px, 0px);
          transform: translate(-50px, 0px);
  margin: auto;
  margin-bottom: 3.125rem;
}

.about__content {
  width: 65%;
  float: right;
}

.about__image {
  position: absolute;
  left: 0;
  bottom: 6.25rem;
}

.about__image img {
  width: 60%;
}

.about__item {
  font-size: 1rem;
  border-radius: 1.875rem;
  border: 3px solid #ff63d8;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: background-color 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}

.about__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.about__item a {
  padding: 1.25rem;
  display: block;
  width: 100%;
  height: 100%;
}

.memes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.memes__title {
  max-width: 21.875rem;
  text-align: center;
  margin: auto;
  margin-bottom: 1.875rem;
}

.memes__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 1.875rem;
}

.memes__item img {
  width: 100%;
}

.game {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.game__title {
  max-width: 21.875rem;
  text-align: center;
  margin-bottom: 1.25rem;
  font-size: 1rem;
  border-radius: 1.25rem;
}

.game__game-wrapper {
  width: 100%;
  max-width: 50rem;
  height: 25rem;
  background-color: #fff;
  margin-bottom: 1.25rem;
}

.game__button img {
  width: 70%;
}

.contacts {
  position: relative;
  height: 100vh;
}

.contacts__container {
  height: 100vh;
  position: relative;
}

.contacts__content {
  display: inline-block;
  background-color: #000;
  position: absolute;
  width: 50%;
  left: 28.125rem;
  bottom: 15.625rem;
  z-index: 10;
  text-align: center;
  border: 3px solid #21ef80;
  border-radius: 1.875rem;
  padding: 2.5rem;
  text-transform: uppercase;
}

.contacts__title {
  font-size: 3.125rem;
  text-shadow: 2px 2px #21ef80, 3px 3px #21ef80;
  margin-bottom: 1.875rem;
}

.contacts__label {
  color: #fff;
  margin-bottom: 1.25rem;
}

.contacts__item:first-child {
  color: #21ef80;
}

.contacts__item:nth-child(2) {
  color: #ffd707;
}

.contacts__item:nth-child(3) {
  color: #ff63d8;
}

.contacts__item span {
  color: #fff;
}

.contacts__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.contacts__item a {
  -webkit-transition: -webkit-filter 0.3s ease 0s;
  transition: -webkit-filter 0.3s ease 0s;
  -o-transition: filter 0.3s ease 0s;
  transition: filter 0.3s ease 0s;
  transition: filter 0.3s ease 0s, -webkit-filter 0.3s ease 0s;
}

.contacts__car {
  position: absolute;
  left: -0.625rem;
  bottom: 3.125rem;
  z-index: 3;
  width: 33%;
}

.contacts__bus {
  position: absolute;
  left: -0.625rem;
  bottom: 3.125rem;
  z-index: 2;
  width: 30%;
}

.contacts__sit {
  position: absolute;
  left: 27.1875rem;
  bottom: 3.125rem;
  z-index: 3;
  z-index: 2;
  width: 20%;
}

.contacts__sky {
  position: absolute;
  left: 18.75rem;
  bottom: 25rem;
  z-index: 2;
  width: 15rem;
  height: 4.6875rem;
}

.contacts__sky2 {
  position: absolute;
  bottom: 32.5rem;
  right: 12.5rem;
  z-index: 2;
  width: 15rem;
  height: 4.6875rem;
}

.contacts__grass {
  position: absolute;
  right: 12.5rem;
  bottom: 3.125rem;
  z-index: 3;
  width: 21.875rem;
  height: 7.625rem;
  z-index: 2;
}

.contacts__grass2 {
  position: absolute;
  right: -6.25rem;
  bottom: 3.125rem;
  z-index: 3;
  width: 21.875rem;
  height: 7.625rem;
  z-index: 2;
}

.contacts__vishka {
  position: absolute;
  left: -2.5rem;
  bottom: 9.375rem;
  width: 20%;
  z-index: 1;
  opacity: 0.5;
}

.contacts__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.5;
}

.contacts__border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3.125rem;
  width: 100%;
}

.contacts__heart {
  position: absolute;
  bottom: 31.25rem;
  left: 13.75rem;
  width: 8.75rem;
  height: 3.75rem;
  z-index: 10;
}

.swiper {
  overflow: hidden;
}

.swiper-slide {
  will-change: transform;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  will-change: transform;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (any-hover: hover) {
  .header__menu img {
    -webkit-transition: -webkit-filter 0.3s ease 0s;
    transition: -webkit-filter 0.3s ease 0s;
    -o-transition: filter 0.3s ease 0s;
    transition: filter 0.3s ease 0s;
    transition: filter 0.3s ease 0s, -webkit-filter 0.3s ease 0s;
  }

  .header__menu img:hover {
    -webkit-filter: drop-shadow(0 0 10px #fff);
            filter: drop-shadow(0 0 10px #fff);
  }

  .filosofy__image-start {
    -webkit-transition: -webkit-filter 0.2s linear 0s;
    transition: -webkit-filter 0.2s linear 0s;
    -o-transition: filter 0.2s linear 0s;
    transition: filter 0.2s linear 0s;
    transition: filter 0.2s linear 0s, -webkit-filter 0.2s linear 0s;
  }

  .filosofy__image-start:hover {
    -webkit-filter: invert(1);
            filter: invert(1);
  }

  .menu__suriken:hover {
    background-color: #1E1E1E;
    -webkit-box-shadow: 0 0 10px #fff;
            box-shadow: 0 0 10px #fff;
  }

  .menu__item:hover {
    background-color: #1E1E1E;
    -webkit-box-shadow: 0 0 10px #fff;
            box-shadow: 0 0 10px #fff;
  }

  .case__arrow {
    -webkit-transition: -webkit-filter 0.3s ease 0s;
    transition: -webkit-filter 0.3s ease 0s;
    -o-transition: filter 0.3s ease 0s;
    transition: filter 0.3s ease 0s;
    transition: filter 0.3s ease 0s, -webkit-filter 0.3s ease 0s;
  }

  .case__arrow:hover {
    -webkit-filter: saturate(3);
            filter: saturate(3);
  }

  .case__slide-content:hover .case__slide-title {
    background-color: #1E1E1E;
  }

  .case__image img {
    -webkit-transition: -webkit-transform 1.5s ease 0s;
    transition: -webkit-transform 1.5s ease 0s;
    -o-transition: transform 1.5s ease 0s;
    transition: transform 1.5s ease 0s;
    transition: transform 1.5s ease 0s, -webkit-transform 1.5s ease 0s;
  }

  .case__image img:hover {
    -webkit-transition: -webkit-transform 7s ease 0s;
    transition: -webkit-transform 7s ease 0s;
    -o-transition: transform 7s ease 0s;
    transition: transform 7s ease 0s;
    transition: transform 7s ease 0s, -webkit-transform 7s ease 0s;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .about__item:hover {
    background-color: #1E1E1E;
    -webkit-box-shadow: 0 0 10px #fff;
            box-shadow: 0 0 10px #fff;
  }

  .game__button:hover {
    -webkit-filter: invert(1);
            filter: invert(1);
  }

  .contacts__item a:hover {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
}

.webp .menu__suriken::before, .webp .menu__suriken::after { background: url(../img/str3/molniy.webp) center/100% no-repeat; }

.webp .case__arrow { background: url(../img/str4/arrow.webp) center/cover no-repeat; }

.webp .order__grass > div::before, .webp .order__grass > div::after { background: url(../img/str5/grass.webp) center/100% no-repeat; }

.webp .order__magazine::after { background: url(../img/str5/fire.webp) center/100% no-repeat; }

.webp .order__weapons::before { background: url(../img/str5/weapon1.webp) center/100% no-repeat; }

.webp .order__weapons::after { background: url(../img/str5/weapon2.webp) center/100% no-repeat; }

.webp .order__boxes::before { background: url(../img/str5/box1.webp) center/100% no-repeat; }

.webp .order__boxes::after { background: url(../img/str5/box2.webp) center/100% no-repeat; }

.webp .order__boxes2::before { background: url(../img/str5/box3.webp) center/100% no-repeat; }

.webp .order__boxes2::after { background: url(../img/str5/box4.webp) center/100% no-repeat; }

.webp .order__stars::before, .webp .order__stars::after { background: url(../img/str5/star.webp) center/100% no-repeat; }